footer{width: 100%;min-height: 145px;position: relative;}

.footer-wrap{width: 98%;max-width: 1190px;margin: auto;display: flex;justify-content: space-between;padding: 59px 0;}
.footer-ul{list-style: none;width: 308px;}
.footer-ul-li{font-size: 18px;color: white;font-size: 14px;line-height: 29px;letter-spacing: 1px;}
.footer-ul-li a{
    color: white;
    text-decoration: none;
}

.footer-ul-li a:hover{
    text-decoration: underline;
}

.footer-bg{width: 100%;height: 100%;background: #1d43541f;}



.subscription-section > h3{line-height: 33px;font-size: 15px;color: white;}
.subscription-section >  p{/* line-height: 17px; */margin-bottom: 12px;font-size: 14px;color: white;}
.subscription-section >  form{display: flex;position: relative;width: 331px;}
.subscription-section >  form input{/* flex: 1; */height: 37px;padding-left: 10px;width: 100%;}
.subscription-section >  form input::placeholder{padding-left: 7px}

.subscription-section form button {background: unset;border: none;color: white;padding: 0 12px;cursor: pointer;position: absolute;top: 1px;right: 0;bottom: 0;margin: auto;height: 99%;}
.subscription-section form button i{font-size: 21px;color: #1e4353;}

.copyright{padding: 25px 0;background-color: #7bb246;}
.copyright p {text-align: center;color: #fff;text-transform: uppercase;font-size: 14px;margin: 0;text-shadow: 0 0 1px #285053;}



